{{newsItem | json}}
<div class="newsCreator">
  <!--<form #registerForm="ngForm">-->
  <div class="Creator_Field title">
    <input class="Creator_forms" type="text" name="Title" [(ngModel)]="newsItem.newsTitle" />
  </div>
  <div class="Creator_Field text">
    <textarea class="Creator_forms" type="text" name="Text" [(ngModel)]="newsItem.newsText" ></textarea>
  </div>
  <div class="Creator_Field imageField">
    <input
      class="Creator_forms" type="file" name="Hero" [(ngModel)]="newsItem.pic"
      (onFileDrop)="drag_n_drop($event)"
    />
  </div>
  <!--</form>-->
</div>
<button id="CreateButton" type="submit">Save</button>
