{{newsItem | json}}
<!--<form #registerForm="ngForm">-->
<div class="NewsCreator">
  <div class="Creator_Field title">
    <input class="Creator_forms" type="text" name="Title" />
  </div>
  <div class="Creator_Field text">
    <textarea class="Creator_forms" type="text" name="Text" ></textarea>
  </div>
  <div class="Creator_Field ImageDropField"
    Drag-n-Drop
    (fileDropped)="drag_n_drop($event)"
  >
  </div>
</div>
<!--</form>-->
<button id="CreateButton" type="submit">Save</button>
<button id="CreateButton" type="button" (click)="checkname()">Check picture</button>
