
/*.leftbar, .content, .rightbar, .leftbar li, .header, .login {
    border: 1px solid white;
}*/

.whole {
    width:100%;
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 10px;
    box-sizing: border-box;
    padding: 10px; /* edges of grid*/
}
/*.leftbar, .content, .rightbar {}*/

/*                                  LEFTBAR*/


/*                                  CONTENT*/
.content {
    padding-left: 60px;
}
.content input {
    background: rgba(0,0,0,0);
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: antiquewhite;
}
.rightbar {
    grid-column: 2;
    display: block;
    width: 160px;
    min-height: 230px;
    right: 30px;
}
