.news {
    display: grid;
    grid-template-columns: auto 170px;
    max-height: 300px;
    padding: 10px;
    grid-gap: 5px;
    background: antiquewhite;
    color: black;
    position: relative;
    margin-bottom: 10px;
}
.news .newsTextBox {
    grid-column: 1;
}
.news img {
    grid-column: 2;
    width:160px;
}
.news .newsTitle {
    display: block;
    font-size: 1.5em;
    font-weight: bolder;
}

app-edit-bar{
  opacity: 0;
  transition: opacity 0.3s;
}
.news:hover app-edit-bar {opacity: 1;}

.addField{
  margin-left: 45%;
  text-align: center;
  margin-bottom: 10px;
}
.addButton{
  display: table-cell;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #77FF77;
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
}

.addButton:hover{ background-color: #FF7777; }
