.Login_forms {
    width: 60%;
    color:whitesmoke;
    /*margin: 0 10px 5px 5px;*/
    background: transparent;
    border-color: whitesmoke;
    border-radius: 5px;
    padding-left: inherit;
    margin-top: 5px;
}

ul, .SocialNetworksBar {
    padding-left: 30px;
}
li {
    font-size: 24px;
    font-weight: bolder;
    /*margin-top: 5px;*/
    cursor: pointer;
}
#register{
    text-align: left;
}
.Login_forms#LoginButton {
    cursor: pointer
}

#MyProfile {
    cursor: pointer;
}
#MyProfile:hover {
    box-shadow: 0 1px 0 white;
}
.SocialNetworksBar{
    display: flex;
}
.SocialNetwork{
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}
