<div class="leftbar">
  <ul class="navigation">
    <li class="marker" routerLink="/news">main page</li>
    <li class="marker" routerLink="/music">music</li>
    <li class="marker" routerLink="/photos">photos</li>
    <li class="marker" routerLink="/store">store</li>
    <li class="marker" routerLink="/users">users</li>
    <li class="marker" routerLink="/about">about</li>
    <li class="marker" routerLink="/3d">3d</li>
    <li id="YourAction" class="marker">your action</li>
  </ul>
  <div class="login"><app-login></app-login></div>
</div>
